

@model GleamBoutiqueProject.ViewModel.OrderViewModel



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">


    @{
        ViewData["Title"] = "Payment";
    }

</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html"><span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mt-mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="../Shop/Shop">Shop</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">

                    <li><a class="nav-link" href="../User/SignIn"><img src="~/images/user.svg"></a></li>
                    <li><a class="nav-link" href="../Shop/Cart"><img src="~/images/cart.svg"></a></li>
                </ul>
            </div>

        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <h1>Checkout</h1>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                </div>
            </div>
            <form action="MakePayment" method="post">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h2 class="h3 mb-3 text-black">Billing Details</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.FirstName)</div>
                                    <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                                </div>
                                <div class="col-md-6">
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.LastName)</div>
                                    <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.City)</div>
                                    <input type="text" class="form-control" id="c_address" name="c_address" placeholder="City">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_address" class="text-black"><span class="text-danger"></span></label>
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.Street)</div>
                                    <input type="text" class="form-control" placeholder="Street">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.Apartment)</div>
                                <input type="text" class="form-control" placeholder="Apartment">
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.PostalCode)</div>
                                    <label for="c_postal_zip" class="text-black">Postal code <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                                </div>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-md-6">
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.Email)</div>
                                    <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                                </div>
                                <div class="col-md-6">
                                    <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.Phone)</div>
                                    <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_phone" name="c_phone">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Your Order</h2>
                                <div class="p-3 p-lg-5 border bg-white">
                                    <table class="table site-block-order-table mb-5">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Loop through the cart items -->
                                            @foreach (var item in Model.OrderList)
                                            {
                                                <tr>
                                                    <td>@item.PName <strong class="mx-2">x</strong> @item.ProAmount</td>
                                                    <td>@((item.SalePrice != 0 ? item.SalePrice : item.OriginPrice) * item.ProAmount) ₪</td>
                                                </tr>
                                            }

                                            <!-- Calculate and display cart subtotal -->
                                            <tr>
                                                <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                                <td class="text-black">
                                                    @{
                                                        // Calculate the cart subtotal based on the items in the cart
                                                        decimal cartSubtotal = (Model.OrderList).Sum(item => (item.SalePrice != 0 ? item.SalePrice : item.OriginPrice) * item.ProAmount);
                                                    }
                                                    @cartSubtotal.ToString("C") <!-- Format as currency -->
                                                </td>
                                            </tr>

                                            <!-- Display order total (same as cart subtotal for this example) -->
                                            <tr>
                                                <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                                <td class="text-black font-weight-bold"><strong>@cartSubtotal.ToString("C") ₪</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>



                                    <div class="border p-3 mb-5">
                                        <h3 class="h6 mb-0">
                                            <a class="d-block" data-bs-toggle="collapse" href="#collapsecreditcard" role="button" aria-expanded="false" aria-controls="collapsecreditcard" id="creditCardLink">
                                                Credit Card Payment
                                            </a>
                                        </h3>
                                        <!--The textbox of credit card payments -->
                                        <div class="form-group">
                                            <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.CreditCardNumber)</div>
                                            <label for="creditCardNumber" class="text-black">Credit Card Number:<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="creditCardNumber" name="CreditCardNumber" placeholder="0000 0000 0000 0000" value="@(Model.OrderPayment?.CreditCardNumber)" maxlength="16" />
                                            <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.ExpiryDate)</div>
                                            <label for="ExpiryDate" class="text-black">Expiry Date:<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="ExpiryDate" name="ExpiryDate" placeholder="MM/YY" value="@(Model.OrderPayment?.ExpiryDate)" maxlength="5" />
                                            <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.CVV)</div>
                                            <label for="SecurityNumber" class="text-black">CVV:<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="SecurityNumber" name="CVV" placeholder="000" value="@(Model.OrderPayment?.CVV)" maxlength="3" />
                                            <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.ID)</div>
                                            <label for="IdOwner" class="text-black">ID:<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="IdOwner" name="ID" placeholder="000000000" value="@(Model.OrderPayment?.ID)" maxlength="9" />
                                            <div style="color:red;" class="validation-message">@Html.ValidationMessageFor(x => x.OrderPayment.FullName)</div>
                                            <label for="NameOwner" class="text-black">Full Name:<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="NameOwner" name="FullName" value="@(Model.OrderPayment?.FullName)" />
                                        </div>

                                    </div>

                                    <div class="border p-3 mb-5">
                                        <h3 class="h6 mb-0">
                                            <a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal" id="paypalLink">
                                                Paypal
                                            </a>
                                        </h3>

                                        <div class="collapse" id="collapsepaypal">
                                            <div class="py-2">
                                                @*<p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group-append text-center">
                                        <input class="btn btn-black btn-sm" type="submit" value="Place Order" />
                                    </div>
                                    <!-- <div class="form-group">
                                        <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">Place Order</button>
                                    </div>  -->





                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <!-- </form> -->
        </div>
    </div>

    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">

            <div class="sofa-img">
                <img src="images/sofa.png" alt="Image" class="img-fluid">
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="subscription-form">
                        <h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                        <form action="#" class="row g-3">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="col-auto">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary">
                                    <span class="fa fa-paper-plane"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                    <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge base</a></li>
                                <li><a href="#">Live chat</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Nordic Chair</a></li>
                                <li><a href="#">Kruzo Aero</a></li>
                                <li><a href="#">Ergonomic Chair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section-->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>



    <script>document.addEventListener('DOMContentLoaded', () => {
            const creditCardFields = document.querySelectorAll('#creditCardNumber, #ExpiryDate, #SecurityNumber, #IdOwner, #NameOwner, label[for="creditCardNumber"], label[for="ExpiryDate"], label[for="SecurityNumber"], label[for="IdOwner"], label[for="NameOwner"]');

            // Function to hide all credit card fields
            function hideCreditCardFields() {
                creditCardFields.forEach(field => {
                    field.style.display = 'none';
                });
            }

            // Initially hide credit card fields
            hideCreditCardFields();

            const creditCardLink = document.getElementById('creditCardLink');
            creditCardLink.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default anchor action
                // Show credit card fields
                creditCardFields.forEach(field => {
                    field.style.display = ''; // Revert to default display
                });
                // Update local storage to reflect the user's choice
                localStorage.setItem('paymentMethod', 'creditCard');
            });

            const paypalLink = document.getElementById('paypalLink');
            paypalLink.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default anchor action
                // Hide credit card fields
                hideCreditCardFields();
                // Update local storage to reflect the user's choice
                localStorage.setItem('paymentMethod', 'paypal');
            });
        });</script>



    <script>document.getElementById('ExpiryDate').addEventListener('input', function (e) {
            // Remove all slashes then insert one after the second character
            let value = this.value.replace(/\//g, '');
            if (value.length > 2) {
                value = value.substring(0, 2) + '/' + value.substring(2);
            }

            this.value = value; // Set the modified value back to the input
        });</script>

</body>

</html>
