@model GleamBoutiqueProject.ViewModel.UserAndOrderViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>User Details</title>
    @{
        ViewData["Title"] = "Update User Details";
    }
</head>

<body>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">GleamBoutique<span>.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mt-mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="../Shop/Shop">Shop</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">

                    <li><a class="nav-link" href="../User/SignIn"><img src="~/images/user.svg"></a></li>
                    <li><a class="nav-link" href="../Shop/Cart"><img src="~/images/cart.svg"></a></li>
                </ul>
                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    @if (ViewBag.IsLoggedIn)
                    {
                        <li>
                            <a href="/User/Logout" style="filter: invert(1);">
                                <img src="~/images/logout1.png" alt="Logout" style="width: 45px; height: 45px; padding-top: 9px;">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </nav>

    <div class="hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="intro-excerpt center">
                        <h1>User Personal Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="untree_co-section" style="
    padding-top: 50px;
    padding-bottom: 23px;>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post" action="@Url.Action("UpdateUserDetails", "User")">
                        <div class="mb-3">
                            <span class="text-danger" asp-validation-for="userToUpdate.FirstName"></span>
                            <label for="firstName" class="form-label text-black">First Name:</label>
                            <input type="text" class="form-control" id="firstName" asp-for="userToUpdate.FirstName">
                        </div>
                        <div class="mb-3">
                            <span class="text-danger" asp-validation-for="userToUpdate.LastName"></span>
                            <label for="lastName" class="form-label text-black">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" asp-for="userToUpdate.LastName">
                        </div>
                        <div class="mb-3">
                            <span class="text-danger" asp-validation-for="userToUpdate.Email"></span>
                            <label for="email" class="form-label text-black">Email:</label>
                            <input type="email" class="form-control" id="email" asp-for="userToUpdate.Email">
                        </div>
                        <div class="mb-3">
                            <span class="text-danger" asp-validation-for="userToUpdate.Password"></span>
                            <label for="password" class="form-label text-black">password:</label>
                            <input type="password" class="form-control" id="assword" asp-for="userToUpdate.Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <h2>Orders</h2>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.OrdersLists)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.ToShortDateString()</td>
                        @*<td>   if we want we need to add shtrudel order.ShipDate.ToShortDateString()</td>*@
                        <td>$@order.TotalPrice</td>
                        <td>
                            <!-- Ship Tracker Button Placeholder -->
                            <a href="@Url.Action("ShippingTracker", "User", new { orderId = order.OrderId })" class="btn btn-info btn-sm">Shipment tracking</a>

                            @*<button type="button" class="btn btn-info" onclick="alert('Track shipment for Order ID: @order.OrderId')">Ship Tracker</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <footer class="footer-section">
        <div class="container relative">


            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="../Home/HomePage" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">
                        Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/profile.php?id=61558503081378" target="_blank"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/gleamboutiquejewelry/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>



            </div>

        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>

</body>

</html>

