<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->

@model GleamBoutiqueProject.Models.Product
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Add Product</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png" />
    <style>
        .hero {
            padding: 1.5rem; /* Adjust the padding to make the div smaller */
            /* You can also adjust other styles such as margins, width, height, etc. */
        }
        .footer-section {
            padding: 1.5rem;
        }

        /* Style for the footer text */
        .footer-section p {
            font-size: 0.9rem;
        }

        /* Style for the social icons */
        .custom-social {
            list-style: none;
        }

            .custom-social li {
                display: inline-block;
                margin-right: 1rem;
            }

                .custom-social li a {
                    font-size: 1rem;
                }
    </style>

    @{ ViewData["Title"] = "Add product"; }
</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">GleamBoutiqe<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="../Home/ManagerHome">Home</a>

                    </li>
                    <li><a class="nav-link" href="../Managers/ManagerShop">Shop</a></li>
                    <li><a class="nav-link" href="../Managers/AddProducts">Add Product</a></li>
                    <li><a class="nav-link" href="../Managers/RemoveProductsS">Remove Product</a></li>
                    <li><a class="nav-link" href="../Managers/InventoryCheck">Inventory</a></li>
                    <li><a class="nav-link" href="../Managers/ProductLists">Edit Product</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li>
                        <a href="/User/Logout" style="filter: invert(1);">
                            <img src="~/images/logout1.png" alt="Logout" style="width: 45px; height: 45px; padding-top:9px;">
                        </a>
                    </li>
                    <li><a href="javascript:void(0)" style="filter: invert(1);" class="nav-link" onclick="goBack()"><img src="~/images/back1.png" style="width: 35px; height: 35px;"></a></li>
                </ul>

            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="intro-excerpt center">
                        <h1>Add Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="AddToData" method="post">
        <div class="untree_co-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-5 mb-md-0">

                        <div class="p-3 p-lg-5 border bg-white">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div>
                                        <div style="color:red;">@Html.ValidationMessageFor(x => x.Pid)</div>
                                        <label for="Catalogy_number" class="text-black">Catalogy Number:</label>
                                        <input type="text" class="form-control" name="Pid" value="@Model.Pid">
                                    </div>
                                    <div>
                                        <div style="color:red;">@Html.ValidationMessageFor(x => x.PName)</div>
                                        <label for="PName" class="text-black">Product Name:</label>
                                        <input type="text" class="form-control" name="PName" value="@Model.PName">
                                    </div>
                                    <div>
                                        <div style="color:red;">@Html.ValidationMessageFor(x => x.OriginPrice)</div>
                                        <label for="OriginPrice" class="text-black">Price: </label>
                                        <input type="text" class="form-control" name="OriginPrice" value="@Model.OriginPrice">
                                    </div>
                                    <div>
                                        <div style="color:red;">@Html.ValidationMessageFor(x => x.Amount)</div>
                                        <label for="Amount" class="text-black">Units in Stock: <span class="text-danger"></span></label>
                                        <input type="text" class="form-control" name="Amount" value="@Model.Amount">
                                    </div>
                                    <div>
                                        <label for="category" class="text-black">Category:</label>
                                        <select name="category" class="form-control">
                                            <option value="ring">Ring</option>
                                            <option value="necklace">Necklace</option>
                                            <option value="earrings">Earrings</option>
                                            <option value="bracelet">Bracelet</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="Material" class="text-black">Material:</label>
                                        <select id="materialSelect" name="Material" class="form-control">
                                            <option value="gold">Gold</option>
                                            <option value="silver">Silver</option>
                                        </select>
                                    </div>

                                    <div>
                                        <div style="color:red">@Html.ValidationMessageFor(x => x.Sale_price)</div>
                                        <label for="Sale_price" class="text-black">Price after discount:<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" name="Sale_price" value="@Model.Sale_price" />
                                    </div>


                                    <div id="karatSelect" style="display:none;">
                                        <label for="karat" class="text-black">Karat:</label>
                                        <select id="karat" name="karat" class="form-control">
                                            <option value="14">14</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div>


                                </div>
                            </div>
                            </br>
                            <div class="input-group-append text-center">
                                <input class="btn btn-black btn-sm" type="submit" value="Add" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">


            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="../Home/HomePage" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">
                        Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/profile.php?id=61558503081378" target="_blank"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/gleamboutiquejewelry/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>

    <script>function goBack() {
            window.history.back();
        }</script>

    <script>document.addEventListener("DOMContentLoaded", function () {
            // Get reference to the material select element
            var materialSelect = document.getElementById("materialSelect");

            // Get reference to the karat select element
            var karatSelect = document.getElementById("karatSelect");

            // Add change event listener to the material select element
            materialSelect.addEventListener("change", function () {
                // Check if the selected value is "gold"
                if (materialSelect.value === "gold") {
                    // Show the karat select element
                    karatSelect.style.display = "block";
                } else {
                    // Hide the karat select element
                    karatSelect.style.display = "none";
                }
            });
        });</script>

</body>

</html>