@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->

@model GleamBoutiqueProject.ViewModel.RemoveProductViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>GleamBoutique</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png" />

    @{ ViewData["Title"] = "Add product"; }
</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">GleamBoutiqe<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="../Home/ManagerHome">Home</a>

                    </li>
                    <li><a class="nav-link" href="../Shop/Shop">Shop</a></li>
                    <li><a class="nav-link" href="../Managers/AddProducts">Add Product</a></li>
                    <li><a class="nav-link" href="../Managers/RemoveProductsS">Remove Product</a></li>
                    <li><a class="nav-link" href="../Managers/InventoryCheck">Inventory</a></li>
                    <li><a class="nav-link" href="../Managers/ProductLists">Edit Product</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="#"><img src="images/user.svg"></a></li>
                    <li><a href="javascript:void(0)" class="nav-link" onclick="goBack()"><img src="images/back.png"></a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="intro-excerpt center">
                        <h1>Inventory management</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="post" asp-action="UpdateAmount" onsubmit="return validateForm()">
        <div class="untree_co-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-5 mb-md-0">

                        <div class="p-3 p-lg-5 border bg-white">
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["ErrorMessage"]
                                </div>}

                            <div class="form-group row">
                                <div class="col-md-9">

                                    <table>
                                        <tr>
                                            <th>Amount to order</th>
                                            <th>Catalog Number</th>
                                            <th>Product Name</th>
                                            <th>Original Price</th>
                                            <th>Amount</th>
                                            <th>Notify</th>
                                            <th>Category</th>
                                            <th>Material</th>
                                            <th>Sale Price</th>
                                            <th>Karat</th>
                                        </tr>
                                        @foreach (Product pro in Model.ProductsList)
                                        {
                                            <tr>
                                                <td><input type="text" name="selectedProducts[@pro.Pid]" value="0" size="3" /></td>
                                                <td>@pro.Pid</td>
                                                <td>@pro.PName</td>
                                                <td>@pro.OriginPrice</td>
                                                <td>@pro.Amount</td>
                                                <td>@pro.Notify_Count</td>
                                                <td>@pro.category</td>
                                                <td>@pro.Material</td>
                                                <td>@pro.Sale_price</td>
                                                <td>@pro.karat</td>
                                            </tr>
}
                                    </table>
                                    <div class="input-group-append text-center">
                                        <input class="btn btn-black btn-sm" type="submit" value="Stock order" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>






    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge base</a></li>
                                <li><a href="#">Live chat</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Nordic Chair</a></li>
                                <li><a href="#">Kruzo Aero</a></li>
                                <li><a href="#">Ergonomic Chair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>

    <script>
        function goBack() {
            window.history.back();
        }</script>

    <script>
        function validateForm() {
            var inputs = document.querySelectorAll('input[type="text"]');
            var isValid = true;

            inputs.forEach(function (input) {
                var value = input.value.trim();

                if (isNaN(value) || value < 0) {
                    alert('Input must contain only numbers greater than or equal to 0');
                    isValid = false;
                }
            });

            return isValid;
        }</script>



</body>

</html>


