@model GleamBoutiqueProject.Models.Product


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PName</title>
    <!-- External CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>

<body>

    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">

                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/ManagerHome">Home</a>
                    </li>
                    <li><a class="nav-link" href="../ManagerShop">Shop</a></li>
                    <li><a class="nav-link" href="../AddProducts">Add Product</a></li>
                    <li><a class="nav-link" href="../RemoveProductsS">Remove Product</a></li>
                    <li><a class="nav-link" href="../InventoryCheck">Inventory</a></li>
                    <li><a class="nav-link" href="../ProductLists">Edit Product</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="../User/SignIn"><img src="~/images/user.svg"></a></li>
                </ul>

           
            </div>
        </div>

    </nav>




    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" data-type="image">
                            <img style="width: 100%; height: 600px; object-fit: cover; border: none; background-color: transparent;" src="/images/@(Model.PName).jpg" />
                        </a>
                    </div>
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            <h1>@Model.PName</h1>
                            <p></p>
                            <p></p>
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.Amount</span>
                            <span class="text-success ms-2">Available in stock</span>
                        </div>

                        <div class="mb-3">
                            <span class="h5">
                                <p>
                                    Price:@if (@Model.Sale_price != 0)
                                    {
                                        <strong class="text-danger">@Model.Sale_price ₪</strong>
                                        <del style="font-size: 65%;">@Model.OriginPrice ₪</del><br />
                                    }
                                    else
                                    {
                                        <strong>@Model.OriginPrice ₪</strong>}
                                </p>
                            </span>

                        </div>

                        <div class="row">
                            <dt class="col-3">Category:</dt>
                            <dd class="col-9">@Model.category</dd>

                            <dt class="col-3">Material:</dt>
                            <dd class="col-9">@Model.Material</dd>

                            @if (Model.karat > 0)
                            {
                                <dt class="col-3">Karat:</dt>
                                <dd class="col-9">@Model.karat</dd>
                            }

                        </div>



                        @if (Model.Amount == 0)
                        {
                            <div class="mb-3 notify-me-text">
                                <span style="font-size: 15px; font-weight: bold;">Notify me when this product is back in stock</span>
                            </div>
                            <form asp-controller="ProductDetails" asp-action="IncrementNotifyCount" method="post" id="notifyForm" class="row g-3">
                                <div class="col-auto">
                                    <input type="email" name="UserEmail" class="form-control" required placeholder="Enter your email" value="@ViewBag.UserEmail" id="userEmail" oninvalid="setCustomValidity('Please enter a valid email address.')" oninput="setCustomValidity('')">
                                    <input type="hidden" name="productId" value="@Model.Pid" />
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary" type="submit" id="notifyButton">
                                        <span class="fa fa-paper-plane"></span>
                                    </button>
                                </div>
                            </form>
                        }
                    </div>
                </main>
            </div>
        </div>
    </section>


    <footer class="footer-section" style="padding-top: 50px; padding-bottom: 5px;">
        <div class="container relative">


            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="/" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">
                        Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/profile.php?id=61558503081378" target="_blank"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/gleamboutiquejewelry/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>



            </div>

        </div>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>

    <script>
        document.getElementById('button-minus').addEventListener('click', function () {
            var input = document.getElementById('quantity-input');
            var currentValue = parseInt(input.value) || 0; // Default to 1 if parsing fails
            if (currentValue > 0) { // Ensure quantity does not go below 1
                input.value = currentValue - 1;
            }
        });

        document.getElementById('button-plus').addEventListener('click', function () {
            var input = document.getElementById('quantity-input');
            var currentValue = parseInt(input.value) || 0; // Default to 1 if parsing fails
            var maxStock = parseInt(input.getAttribute('data-stock')); // Retrieve the max stock from the data attribute

            if (currentValue < maxStock) { // Ensure quantity does not exceed available stock
                input.value = currentValue + 1;
            }
        });</script>

    <script>
        document.getElementById('userEmail').oninvalid = function (event) {
            event.target.setCustomValidity('Invalid email address. Please enter a valid email address.');
        }
        document.getElementById('userEmail').oninput = function (event) {
            event.target.setCustomValidity(''); // Clear the custom message
        }

        document.getElementById('notifyForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting normally

            Swal.fire({
                title: 'Notify Me',
                text: 'You will be notified when the product is back in stock.',
                icon: 'success',
                showCancelButton: false,
                confirmButtonColor: '#947f6f',
                confirmButtonText: 'OK',
                customClass: {
                    popup: 'smaller-swal2-popup',
                    htmlContainer: 'height-300px' // Use the custom class for the pop-up
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('notifyForm').submit();
                }
            });
        });
    </script>

    <script>
        document.getElementById('buy-now-button').addEventListener('click', function () {
            var amount = document.getElementById('quantity-input').value.trim();

            if (amount === '' || parseInt(amount) <= 0) {
                alert('Please enter a valid quantity.');
                return;
            }

        var proId = '@Model.Pid';

        var dataToSend = {
            proid: proId,
            amount: amount,

            };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("BuyNow", "Shop")',
            data: dataToSend,
            success: function (response) {
                window.location.href = '@Url.Action("PayBuyNow", "Payment")';
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('An error occurred while buying.');
            }
        });
    });
    </script>



    <script>
    document.getElementById('add-to-cart-button').addEventListener('click', function () {
        var amount = document.getElementById('quantity-input').value.trim();

        if (amount === '' || parseInt(amount) <= 0) {
            alert('Please enter a valid quantity.');
            return;
        }

        var proId = '@Model.Pid';
        var stock = '@Model.Amount';

        var dataToSend = {
            proid: proId,
            amount: amount,
            stock: stock
        };

        // Send a POST request to the AddToCart action using AJAX
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddToCart", "Shop")',
            data: dataToSend,
            success: function (response) {
                window.location.href = '/Shop/Shop'; // Redirect upon successful addition
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert('An error occurred while adding the product to the cart.');
            }
        });
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
