<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/

*/ -->
@using Microsoft.AspNetCore.Http
@model GleamBoutiqueProject.ViewModel.CartItemViewModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Cart</title>
    <link rel="shortcut icon" type="image/png" href="/images/icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="../Shop/Shop">Shop</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="../User/SignIn"><img src="~/images/user.svg"></a></li>
                    <li><a class="nav-link" href="../Shop/Cart"><img src="~/images/cart.svg"></a></li>
                </ul>
                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    @if (ViewBag.IsLoggedIn != null && ViewBag.IsLoggedIn)
                    {
                        <li>
                            <a href="/User/Logout" style="filter: invert(1);">
                                <img src="~/images/logout1.png" alt="Logout" style="width: 45px; height: 45px; padding-top: 9px;">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Cart</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->



    <div class="untree_co-section before-footer-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (CartItem item in Model.UserCart ?? Model.guestCart)
                                {
                                    <tr data-proid="@item.ProId">
                                        <td class="product-thumbnail">
                                            <img src="/images/@(item.PName).jpg" alt="Image" class="img-fluid" style="width: 100px; height: auto;">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.PName</h2>
                                        </td>
                                        <td>
                                            @if (item.SalePrice != 0)
                                            {
                                                <del class="text-muted">@item.OriginPrice ₪</del><br />
                                                <strong class="text-danger">@item.SalePrice ₪</strong>
                                            }
                                            else
                                                @item.OriginPrice @Html.Raw("₪")
                                            </td>
                                            <td>
                                                <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-black decrease" type="button" id="decreaseButton" data-proid="@item.ProId" @(item.ProAmount == 1 ? "disabled" : "" )>&minus;</button>
                                                    </div>
                                                    <input type="text" class="form-control text-center quantity-amount" value="@item.ProAmount" data-stock="@item.ProAmount" max=@item.ProStock data-price="@item.SalePrice != 0 ? item.salePrice : item.OriginPrice" data-proid="@item.ProId" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-black increase" type="button" id="increaseButton" data-proid="@item.ProId" @(item.ProStock == item.ProAmount ? "disabled" : "" )>&plus;</button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="total-amount">@((item.SalePrice != 0 ? item.SalePrice : item.OriginPrice) * item.ProAmount) ₪</span>
                                            </td>
                                            <td><a class="btn btn-black btn-sm delete-product" id="remove" data-proid="@item.ProId">X</a></td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="@Url.Action("Shop", "Shop")" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black" id="totalAmountPlaceholder">Calculating...</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <a href="@Url.Action("Payment", "Payment")" class="btn btn-outline-black btn-sm btn-block">Proceed To Checkout</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">


            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="../Home/HomePage" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">
                        Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/profile.php?id=61558503081378" target="_blank"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/gleamboutiquejewelry/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>



            </div>

        </div>
    </footer>
    <!-- End Footer Section -->


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // When the increase button is clicked
            $('.increase').click(function () {
                var proId = $(this).data('proid');
                var quantityInput = $(this).closest('.quantity-container').find('.quantity-amount');
                var newAmount = parseInt(quantityInput.val());
                updateAmount(proId, newAmount);
            });

            // When the decrease button is clicked
            $('.decrease').click(function () {
                var proId = $(this).data('proid');
                var quantityInput = $(this).closest('.quantity-container').find('.quantity-amount');
                var newAmount = parseInt(quantityInput.val());
                updateAmount(proId, newAmount);
            });

            function updateAmount(proId, newAmount) {
                $.ajax({
                    url: '/Shop/UpdateCartProductAmountFromCart',
                    type: 'POST',
                    data: { proid: proId, amount: newAmount },
                    success: function (response) {
                        console.log(response)
                        // Handle success (you might want to update the UI to reflect the new amount)
                        if (response.successMessage == "No more left in stock") {
                            $(this).siblings('.quantity-amount').val(response.quantity.toString());
                            location.reload();
                            alert("You have reached the maximum quantity of the product available in stock");
                        }
                        else if (response.successMessage == "The product amount update successfully!") {
                            $(this).siblings('.quantity-amount').val(response.quantity.toString());
                            location.reload();
                            Swal.fire({
                                title: 'Success',
                                text: 'The product amount was updated successfully.',
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            });
                            //alert("The product amount update successfully!");
                        }
                    },
                    error: function (response) {
                        alert(response.errorMessage || "Error updating the product amount");
                    }
                });
            }

            $(document).ready(function () {
                $('.delete-product').click(function (e) {
                    e.preventDefault(); // Prevent the default behavior of the anchor tag
                    var proId = $(this).data('proid');
                    deleteProduct(proId);
                });

                function deleteProduct(proId) {
                    $.ajax({
                        url: '/Shop/DeleteProduct',
                        type: 'POST',
                        data: { proid: proId },
                        success: function (response) {
                            if (response.successMessage == "The product deleted") {
                                location.reload();
                                alert("The product deleted!");
                            }
                        },
                        error: function (response) {
                            alert(response.errorMessage || "Error updating the product amount");
                        }
                    });
                }
            });


        });</script>

    <script>
        $(document).ready(function () {
            function calculateTotalAmount() {
                var totalAmount = 0;
                $('.total-amount').each(function () {
                    totalAmount += parseFloat($(this).text().replace('₪', '').trim());
                });
                $('#totalAmountPlaceholder').text(totalAmount.toFixed(2) + ' ₪');
            }

            calculateTotalAmount();

            // Update total amount whenever a quantity changes
            $('.quantity-amount').change(function () {
                calculateTotalAmount();
            });
        });</script>


</body>

</html>